.list-img{
    /* height: 38rem; */
    background-size: cover;
    background-position: center;
    background-position: sticky;
    background-size: fixed;
    background-image: url(https://wallpapers.com/images/hd/purple-pink-background-ok3cf2o36x8b7467.jpg);
}